@using Microsoft.AspNet.Identity
@model RitualReminders.ViewModels.TodoViewModel
@{
    ViewBag.Title = "TodoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Todo.ToDoId == 0)
{
    <h2>New Todo</h2>
    <br/>
}
else
{
    <h2>Edit Todo</h2>
    <br />

}

<div class="row">
<div class="col-md-8">

    @using (Html.BeginForm("Save", "Todos"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="form-group">
            @Html.LabelFor(m => m.Todo.Title)
            @Html.TextBoxFor(m => m.Todo.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Todo.Title)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Todo.Detail)
            @Html.TextAreaFor(m => m.Todo.Detail, new { @class = "form-control" })
        </div>

        if (Model.Todo.ToDoId != 0)
        {     <div class="form-group">
                  @Html.LabelFor(m => m.Todo.TodoSnoozeId)
                  @Html.DropDownListFor(m => m.Todo.TodoSnoozeId, new SelectList(Model.TodoSnoozes, "Id", "Title"), "Select Snooze Type", new {@class = "form-control"})
              </div>
        }

    
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                @Html.LabelFor(m => m.Todo.DueDate)
                @Html.TextBoxFor(m => m.Todo.DueDate, new {@class = "form-control", id = "dueDate"})
                <br/>
                @Html.ValidationMessageFor(m => m.Todo.DueDate)
            </div>
        </div>
        if (Model.Todo.ToDoId > 0) 
        { 
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Todo.Completed , new {id="chkCompleted"}) Completed?
                </label>
            </div> 
        }
        /*@Html.AntiForgeryToken()*/
        @Html.HiddenFor(m => m.Todo.ToDoId)

        <button type="submit" class="btn btn-primary">Save</button>
     
        @Html.ActionLink("Go Back", "Index", null, new { @class= "btn btn-info" })
    }
</div>
    <div class="col-md-4">
        <section id="">
            <h2> Notifications about your task</h2>   
        </section>
    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @if (@Model.Todo.Completed==true)
    {
        <script>
        
            $(document).ready(function() {               
                $(".form-group :input").prop("disabled", true);
            });


        </script>
    }
    
    <script>
        $("#chkCompleted").change(function() {
            if (this.checked) {
                //Do stuff
                
                $(".form-group :input").prop("disabled", true);
            } else {
                
                $(".form-group :input").prop("disabled", false);
            }
        });
    </script>

    <script>
        $(document).ready(function ()
        {
            $("#dueDate").datetimepicker(
                {
                    defaultDate: '@Model.Todo.DueDate',
                    showTodayButton: true,
                    showClose: true,
                    showClear: true,
                    toolbarPlacement: 'default',
                    stepping: 15
                });
        });
    </script>

}
